@using ToDoList.Enums
@using ToDoList.Util
@model ToDoList.ViewModels.TaskVms.DetailsVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card mb-3">
    <div class="d-flex justify-content-center">
        <div class="card-body">
            <h3 class="text-center card-header">@Model.Title</h3>
            <div class="card-body d-flex flex-nowrap">
                <ul class="card-text row">
                    <li>Описание: @Model.Description</li>
                    <li>Приоритет: @Model.Priority.GetDisplayName()</li>
                    <li>Состояние: @Model.State.GetDisplayName()</li>
                    <li>Дата создания: @Model.CreationDate</li>
                    <li>Создатель задачи: @Model.CreatorName</li>
                    <li>Исполнитель задачи: @Model.PerformerName</li>
                    @if (Model.State == State.Opened)
                    {
                        <li>Дата открытия: @Model.OpenDate</li>
                    }
                    else if (Model.State == State.Closed)
                    {
                        <li>Дата закрытия: @Model.CloseDate</li>
                    }
                </ul>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-dark" asp-action="Close"
                           asp-route-id="@Model.Id">
                            Закрыть
                        </a>
                        <a class="btn btn-dark" asp-action="Delete"
                           asp-route-id="@Model.Id">
                            Удалить
                        </a>
                        <a class="btn btn-dark" asp-action="Details"
                           asp-route-id="@Model.Id">
                            Детали
                        </a>
                        <a class="btn btn-dark" asp-action="Open"
                           asp-route-id="@Model.Id">
                            Открыть
                        </a>
                        <a class="btn btn-dark" asp-action="Take"
                           asp-route-id="@Model.Id">
                            Взять
                        </a>
                    }
                    else
                    {
                        @foreach (var taskAction in Model.Actions)
                        {
                            <a class="btn btn-dark" asp-action="@taskAction.ActionName"
                               asp-route-id="@Model.Id">
                                @taskAction.Title
                            </a>
                        }
                    }
                </td>
            </div>
        </div>
    </div>
</div>